<%- include('../includes/head.ejs') %>

    <div id="root"></div>
    <div style="width: 100%;">
        <div style="float:left; width: 50%">

            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%=message%>
                </div>
                <% } %>

                    <h4> <b>item ID:&nbsp;</b>
                        <tt id="product-id"><%=product_id%></tt>
                        <input id="product-id" onclick="CopyToClipboard('product-id')" type="button" value="Copy" />
                    </h4>
                    <h4> <b>Product Name:&nbsp;</b>
                        <tt><%=product_name%></tt>
                    </h4>
                    <h4> <b>sale type:&nbsp;</b>
                        <%=product_type%>
                    </h4>
                    <h4 style="font-size:medium;"> <b style="font-size: larger;">Product Description:&nbsp;</b>
                        <%=product_description%>
                    </h4>
                    <h4> <b>current status:&nbsp;</b>
                        <%=product_status%>
                    </h4>
                    <h4> <b>seller ID:&nbsp;</b>
                        <tt><%=product_seller%></tt>
                    </h4>
                    <h4> <b>base price:&nbsp;</b>
                        <tt>&dollar;<%=product_base_price%></tt>
                    </h4>
                    <h4> <b>current best bid:&nbsp;</b>
                        <tt>&dollar;<%=product_curent_best_bid%></tt>
                    </h4>

                    <% if (product_curent_best_bidder == current_id) { %>

                        <tt style="font-size: xx-large;">You are the best bidder</tt>

                        <% } %>

                            <h4> <b>current best bidder:&nbsp;</b>
                                <tt><%=product_curent_best_bidder%></tt>
                            </h4>


                            <h4> <b>sale started at:&nbsp;</b>
                                <tt style="font-size:medium;"><%=product_sale_start_time%></tt>
                            </h4>
                            <h4> <b>sale ends at:&nbsp;</b>
                                <tt style="font-size:medium;"><%=product_sale_end_time%></tt>
                            </h4>
                            <h4> <b>delivery distance:&nbsp;</b>
                                <tt><%=product_distance%> km</tt>
                            </h4>
                            <h4> <b>delivery charges:&nbsp;</b>
                                <tt>&dollar;<%=product_delivery_cost%></tt>
                            </h4>
                            <h4> <b>base price with delivery:&nbsp;</b>
                                <tt>&dollar;<%=product_delivery_cost+product_base_price%></tt>
                            </h4>
                            <% if (product_bid_present == 1) { %>

                                <h4> <b>total cost:&nbsp;</b>
                                    <tt>&dollar;<%=product_amount_to_pay%></tt>
                                </h4>

                                <% } %>




        </div>
        <div style="float:right; width: 50%;">
            <%var latitude = product_lat ;%>
                <%var longitude = product_lng ;%>
                    <div id="map" m class="vertical-center"></div>
                    <script>
                        function initMap() {
                            var place = {
                                lat: <%=latitude%>,
                                lng: <%=longitude%>
                            };
                            var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 7,
                                center: place
                            });
                            var marker = new google.maps.Marker({
                                position: place,
                                map: map
                            });
                        }
                    </script>
                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=
            AIzaSyB2bXKNDezDf6YNVc-SauobynNHPo4RJb8&callback=initMap">
                    </script>
                    <br>
                    <div class="row">
                        <% if (product_viewer == "buyer")  {%>
                            <% if (product_status == "open")  {%>
                                <div class="semicentered">
                                    <form action="http://localhost:3000/auction-product-details-place-bid" method="post">
                                        <div class="form-group">
                                            <div style="display:flex; flex-direction: row">
                                                <label for="your_bid">Your initial offering:</label>
                                                <input type="text" class="form-control" name="your_bid" id="your_bid" value="<%= product_your_bid %>"><br>
                                            </div>
                                            <br>

                                            <div style="display:flex; flex-direction: row">
                                                <label for="auto_mode">Mode of bidding:&nbsp;  </label><br>
                                                <select name="auto_mode" id="auto_mode" style="height: 60px;">
                                            <option value="false" > Simple bidding</option>
                                            <option value="true" >Auto bidding</option>

                                        </select><br>
                                            </div>
                                            <br>
                                            <div style="display:flex; flex-direction: row">
                                                <label for="bid_limit">Maximum offering:</label>
                                                <input type="text" class="form-control" name="bid_limit" id="bid_limit" value="<%= product_bid_limit %>"><br>
                                            </div>
                                            <br>
                                            <input type="hidden" name="product_id" value=<%=product_id %>>
                                            <input type="hidden" name="product_type" value=<%=product_type %>>
                                            <button type="submit" class="btn btn-primary btn-block product-options">place order</button>
                                        </div>
                                    </form>
                                </div>
                                <br> <br>
                                <% } %>
                                    <% } %>

                    </div>
                    <br>
                    <div class="row" style="margin-top: 50px;"></div>
                    <% if (product_status == "out-for-delivery" && (current_id ==  product_curent_best_bidder) && (product_viewer == "buyer"))  {%>
                        <form action="http://localhost:3000/auction-confirm-delivery" method="post">
                            <button type="submit" class="btn btn-primary btn-block product-options">confirm delivery</button>
                            <input type="hidden" name="product_id" value=<%=product_id %>>
                            <input type="hidden" name="product_type" value=<%=product_type %>>
                        </form>
                        <br>
                        <% } %>

                            <% if (product_viewer == "seller")  {%>
                                <% if (product_status == "open")  {%>
                                    <form action="http://localhost:3000/auction-product-details-delete-product" method="post">
                                        <button type="submit" class="btn btn-primary btn-block product-options">remove product from sale</button>
                                        <input type="hidden" name="product_id" value=<%=product_id %>>
                                        <input type="hidden" name="product_type" value=<%=product_type %>>
                                    </form>
                                    <br>

                                    <form action="http://localhost:3000/auction-product-details-close-bidding" method="post">
                                        <button type="submit" class="btn btn-primary btn-block product-options" style="padding: 1rem; width: fit-content;">Close Bidding</button>
                                        <input type="hidden" name="product_id" value=<%=product_id %>>
                                        <input type="hidden" name="product_type" value=<%=product_type %>>
                                    </form>
                                    <br>
                                    <% } %>

                                        <% if (product_status != "open" && product_status!= "delivered" && product_status!= "out-for-delivery")  {%>
                                            <form action="http://localhost:3000/auction-update-status" method="post">
                                                <button type="submit" class="btn btn-primary btn-block product-options">update status to &nbsp;<u><i><%=product_new_status%></i></u> </button>
                                                <input type="hidden" name="product_id" value=<%=product_id %>>
                                                <input type="hidden" name="product_type" value=<%=product_type %>>
                                            </form>
                                            <br>
                                            <% } %>
                                                <% } %>
        </div>
    </div>
    <div style="clear:both"></div>
    <%- include('../includes/end.ejs') %>