<%- include('../includes/head.ejs') %>

    <div id="root"></div>
    <div style="width: 100%;">
        <div style="float:left; width: 50%">
            <h1> <b style="font-size: xx-large;">Product Description</b></h1>
            <br>
            <h3> <b>item ID:&nbsp;</b>
                <tt><%=product_id%></tt>
            </h3>
            <h3> <b>sale type:&nbsp;</b>
                <%=product_type%>
            </h3>
            <h3> <b>current status:&nbsp;</b>
                <%=product_status%>
            </h3>
            <h3> <b>seller ID:&nbsp;</b>
                <tt><%=product_seller%></tt>
            </h3>
            <h3> <b>base price:&nbsp;</b>
                <tt>&dollar;<%=product_base_price%></tt>
            </h3>
            <h3> <b>current best bid:&nbsp;</b>
                <tt>&dollar;<%=product_curent_best_bid%></tt>
            </h3>
            <h3> <b>current best bidder:&nbsp;</b>
                <tt><%=product_curent_best_bidder%></tt>
            </h3>
            <h3> <b>sale started at:&nbsp;</b>
                <tt style="font-size:large;"><%=product_sale_start_time%></tt>
            </h3>
            <h3> <b>sale ends at:&nbsp;</b>
                <tt style="font-size:large;"><%=product_sale_end_time%></tt>
            </h3>
            <h3> <b>delivery distance:&nbsp;</b>
                <tt><%=product_distance%> km</tt>
            </h3>
            <h3> <b>delivery charges:&nbsp;</b>
                <tt>&dollar;<%=product_delivery_cost%></tt>
            </h3>
        </div>
        <div style="float:right; width: 50%;">
            <%var latitude = product_lat ;%>
                <%var longitude = product_lng ;%>
                    <div id="map" m class="vertical-center"></div>
                    <script>
                        function initMap() {
                            var place = {
                                lat: <%=latitude%>,
                                lng: <%=longitude%>
                            };
                            var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 7,
                                center: place
                            });
                            var marker = new google.maps.Marker({
                                position: place,
                                map: map
                            });
                        }
                    </script>
                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=
            AIzaSyB2bXKNDezDf6YNVc-SauobynNHPo4RJb8&callback=initMap">
                    </script>
                    <br>
                    <div class="row">
                        <% if (product_viewer == "buyer")  {%>
                            <% if (product_status == "open")  {%>
                                <div class="semicentered">
                                <form action="http://localhost:3000/auction-product-details-place-bid" method="post">
                                    <div class="form-group">
                                        <div style="display:flex; flex-direction: row">
                                            <label for="your_bid">Your initial offering:</label>
                                            <input type="text" class="form-control" name="your_bid" id="your_bid" value="<%= product_your_bid %>"><br>
                                        </div>
                                        <br>

                                        <div style="display:flex; flex-direction: row">
                                        <label for="auto_mode">Mode of bidding:&nbsp;  </label><br>
                                        
                                        <select name="auto_mode" id="auto_mode">
                                            <option value="false">Simple bidding</option>
                                            <option value="true">Auto bidding</option>
                                        </select><br>
                                        </div>
                                        <br>
                                        <!-- <input type="text" class="form-control" name="auto_mode" id="auto_mode" value=" <%= product_auto_mode %> "><br> -->
                                        <div style="display:flex; flex-direction: row">
                                            <label for="bid_limit">Maximum offering:</label>
                                            <input type="text" class="form-control" name="bid_limit" id="bid_limit" value="<%= product_bid_limit %>"><br>
                                        </div>
                                        <br>
                                        <input type="hidden" name="product_id" value= <%=product_id %>>
                                        <input type="hidden" name="product_type" value= <%=product_type %>>
                                        <button type="submit" class="btn btn-primary btn-block product-options">place order</button>
                                    </div>
                                </form>
                                </div>
                                <br> <br>
                            <% } %>
                        <% } %>
                        <!-- <form action="http://localhost:3000/auction-product-details-place-bid" method="post">
                            <div class="form-group" style="margin-top: 100px;"></div>
                                <label for="your_bid">Your initial offering:</label>
                                <input type="text" class="form-control" id="your_bid" name="your_bid" value=" <%= product_your_bid %> "><br>
                                <br>
                                <label for="simple">simple bidding</label>
                                <input type="radio" id="auto_chosen" name="auto_chosen" value=" <%= product_auto_mode %> "> <br>
                                <label for="auto">auto bidding</label>
                                <input type="radio" id="auto_chosen" name="auto_chosen" value=" <%= product_auto_mode %> "><br>
                                <label for="bid_limit">Maximum offering:</label>
                                <input type="text" class="form-control" name="bid_limit" id="bid_limit" value=" <%= product_bid_limit %> "><br>
                            </div>
                        </form> -->
                        
                    </div>
                    <br>
                    <div class="row" style="margin-top: 50px;"></div>
                    <% if (product_status == "out-for-delivery" && (current_id ==  product_curent_best_bidder) && (product_viewer == "buyer"))  {%>
                        <form action="http://localhost:3000/auction-confirm-delivery" method="post">
                            <button type="submit" class="btn btn-primary btn-block product-options">confirm delivery</button>
                            <input type="hidden" name="product_id" value= <%=product_id %>>
                            <input type="hidden" name="product_type" value= <%=product_type %>>
                        </form>
                        <br>
                    <% } %>

                    <% if (product_viewer == "seller")  {%>
                        <% if (product_status == "open")  {%>
                            <form action="http://localhost:3000/auction-product-details-delete-product" method="post">
                                <button type="submit" class="btn btn-primary btn-block product-options">remove product from sale</button>
                                <input type="hidden" name="product_id" value= <%=product_id %>>
                                <input type="hidden" name="product_type" value= <%=product_type %>>
                            </form>
                        

                            <form action="http://localhost:3000/auction-product-details-close-bidding" method="post">
                                <button type="submit" class="btn btn-primary btn-block product-options" style="padding: 1rem; width: fit-content;">Close Bidding</button>
                                <input type="hidden" name="product_id" value= <%=product_id %>>
                                <input type="hidden" name="product_type" value= <%=product_type %>>
                            </form>
                            <br>
                        <% } %>

                        <% if (product_status != "open" && product_status!= "delivered")  {%>
                            <form action="http://localhost:3000/auction-update-status" method="post">
                                <button type="submit" class="btn btn-primary btn-block product-options">update status to &nbsp;<u><i><%=product_new_status%></i></u> </button>
                                <input type="hidden" name="product_id" value= <%=product_id %>>
                                <input type="hidden" name="product_type" value= <%=product_type %>>
                            </form>
                            <br>
                        <% } %>
                    <% } %>
        </div>
    </div>
    <div style="clear:both"></div>
    <%- include('../includes/end.ejs') %>