<%- include('../includes/head.ejs') %>

    <div id="root"></div>
    <div style="width: 100%;">
        <div style="float:left; width: 50%">


            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%=message%>
                </div>
                <% } %>


            <h1> <b style="font-size: xx-large;">Product Description</b></h1>
            <br>

        
            <h4> <b>item ID:&nbsp;</b>
                <tt><%=product_id%></tt>
            </h4>


<!-- 
            <h4> <b>item ID:&nbsp;</b>
                <tt id="product-id"><%=product_id%></tt>
                <input id="product-id" onclick="CopyToClipboard('product-id')" type="button" value="Copy" />
            </h4> -->

            <h4> <b>Product Name:&nbsp;</b>
                <tt><%=product_name%></tt>
            </h4>


<!-- 
            <h4> <b>Product Name:&nbsp;</b>
                <tt id="product-name"><%=product_name%></tt>
                <input id="product-name" onclick="CopyToClipboard('product-name')" type="button" value="Copy" />
            </h4> -->



            <h4> <b>sale type:&nbsp;</b>
                <%=product_type%>
            </h4>
            <h4 style="font-size:medium;"> <b style="font-size: larger;">Product Description:&nbsp;</b>
                <%=product_description%>
            </h4>
            <h4> <b>quantity:&nbsp;</b>
                <%=product_quantity%>
            </h4>
            <h4> <b>current status:&nbsp;</b>
                <%=product_status%>
            </h4>

            <h4> <b>Seller Name:&nbsp;</b>
                <tt><%=product_seller_name%></tt>
            </h4>

            <h4> <b>seller ID:&nbsp;</b>
                <tt><%=product_seller%></tt>
            </h4>
            <h4> <b>Price:&nbsp;</b>
                <tt>&dollar;<%=product_price%></tt>
            </h4>


            <% if (product_viewer == "buyer")  {%>

                <h4> <b>delivery distance:&nbsp;</b>
                    <tt><%=product_distance%> km</tt>
                </h4>
                <h4> <b>delivery charges:&nbsp;</b>
                    <tt>&dollar;<%=product_delivery_cost%></tt>
                </h4>
                <h4> <b>total cost:&nbsp;</b>
                    <tt>&dollar;<%=product_amount_to_pay%></tt>
                </h4>

                <% } %>

        </div>
        <div style="float:right; width: 50%;">
            <%var latitude = product_lat ;%>
                <%var longitude = product_lng ;%>
                    <div id="map" m class="vertical-center"></div>
                    <script>
                        function initMap() {
                            var place = {
                                lat: <%=latitude%>,
                                lng: <%=longitude%>
                            };
                            var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 7,
                                center: place
                            });
                            var marker = new google.maps.Marker({
                                position: place,
                                map: map
                            });
                        }
                    </script>
                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=
            AIzaSyB2bXKNDezDf6YNVc-SauobynNHPo4RJb8&callback=initMap">
                    </script>
                    <br>
                    <div class="row">
                        <% if (product_viewer == "buyer")  {%>
                            <% if (product_status == "open")  {%>
                                <div class="semicentered">
                                    <form action="http://localhost:3000/product-details-buy" method="post">
                                        <div class="form-group">

                                            <input type="hidden" name="product_id" value=<%=product_id %>>
                                            <input type="hidden" name="product_type" value=<%=product_type %>>
                                            <button type="submit" class="btn btn-primary btn-block product-options">place order</button>
                                        </div>
                                    </form>
                                </div>
                                <br>
                                <% } %>
                                    <% } %>

                    </div>
                    <br>
                    <div class="row" style="margin-top: 50px;"></div>
                    <% if (product_status == "out-for-delivery" && (product_viewer == "buyer"))  {%>
                        <form action="http://localhost:3000/product-details-confirm-delivery" method="post">
                            <button type="submit" class="btn btn-primary btn-block product-options">confirm delivery</button>
                            <input type="hidden" name="product_id" value=<%=product_id %>>
                            <input type="hidden" name="product_type" value=<%=product_type %>>
                        </form>
                        <br>
                        <% } %>

                            <% if (product_viewer == "seller")  {%>
                                <% if (product_status == "open")  {%>
                                    <form action="http://localhost:3000/product-details-delete-product" method="post">
                                        <button type="submit" class="btn btn-primary btn-block product-options">remove product from sale</button>
                                        <input type="hidden" name="product_id" value=<%=product_id %>>
                                        <input type="hidden" name="product_type" value=<%=product_type %>>
                                    </form>


                                    <br>
                                    <% } %>

                                        <% if (product_status != "open" && product_status!= "delivered" && product_status!= "out-for-delivery" && product_status!= "closed")  {%>
                                            <form action="http://localhost:3000/product-details-update-status" method="post">
                                                <button type="submit" class="btn btn-primary btn-block product-options">update status to &nbsp;<u><i><%=product_new_status%></i></u> </button>
                                                <input type="hidden" name="product_id" value=<%=product_id %>>
                                                <input type="hidden" name="product_type" value=<%=product_type %>>
                                            </form>
                                            <br>
                                            <% } %>
                                                <% } %>
        </div>
    </div>
    <div style="clear:both"></div>
    <%- include('../includes/end.ejs') %>